.photos-container {
  margin: 43px;
  display: grid;
  grid-template-columns: 425px 425px 425px 425px;
  column-gap: 42px;
  grid-template-rows: auto;
  row-gap: 42px;
}
.photo {
  width: 425px;
  height: 425px;
  border-radius: 20px;
}
// Laptop mini
@media only screen and(min-width:1024px) and (max-width: 1260px) {
  .photos-container {
    margin: 5px;
    display: grid;
    grid-template-columns: 18.125rem 18.125rem 18.125rem 18.125rem;
    column-gap: 1.25rem;
    grid-template-rows: auto;
    row-gap: 1.25rem;
  }
  .photo {
    width: 290px;
    height: 290px;
    border-radius: 20px;
  }
}
// Laptops
@media only screen and(min-width:1260px) and (max-width: 1580px) {
  .photos-container {
    margin: 20px;
    display: grid;
    grid-template-columns: 360px 360px 360px 360px;
    column-gap: 20px;
    grid-template-rows: auto;
    row-gap: 20px;
  }
  .photo {
    width: 360px;
    height: 360px;
    border-radius: 20px;
  }
}
// Tablet resolution
@media only screen and(min-width:760px) and (max-width: 1024px) {
  .photos-container {
    margin: 20px;
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    column-gap: 20px;
    grid-template-rows: auto;
    row-gap: 20px;
  }
  .photo {
    width: 180px;
    height: 180px;
    border-radius: 20px;
  }
}
// Phone resolution
@media only screen and(min-width:250px) and (max-width: 760px) {
  .photos-container {
    margin: 0px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 2px;
    grid-template-rows: auto;
    row-gap: 2px;
  }
  .photo {
    width: 200px;
    height: 200px;
    border-radius: 0px;
  }
}
