.instructions-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    display: flex;
}
.logo {
    width: 200px;
    margin-bottom: 2rem;
}

.instructions-wrapper > h2 {
    color: #253858;
}
.signature {
    text-align: left;
    font-size: 14px;
}