#pages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4rem;
}
.pages-box {
  display: flex;
  flex-direction: row;
}
.pages-control {
  margin: auto 1rem;
  cursor: pointer;
}
